#![enable(implicit_some)]
Custom(
    Repeat(
        count: 11,
        x_move: 0.,
        y_move: -50.,
        item: Button(
            transform: (
                id: "paused",
                anchor: TopLeft,
                x: 60.,
                y: -25.,
                width: 200.,
                height: 50.,
                transparent: true,
                mouse_reactive: true,
            ),
            button: (
                text: "test button",
                font: File("font/square.ttf", ("TTF", ())),
                font_size: 10.,
                normal_text_color: (1.0, 0.65, 0., 1.0), // ffa500
                normal_image: SolidColor(0., 0., 0., 1.),
                hover_image: SolidColor(0.1, 0.1, 0.1, 1.),
                press_image: SolidColor(0.15, 0.15, 0.15, 1.),
            ),
        )
    )
)