/*!
    @import /amethyst_input/src/bindings.rs#Bindings, StringBindings
    Bindings<StringBindings>
*/

(
    axes: {
        "y_axe": Emulated(
            pos: Key(S),
            neg: Key(W),
        ),
        "x_axe": Emulated(
            pos: Key(D),
            neg: Key(A),
        ),
    },
    actions: {


    },
)

