/*!
    @import /amethyst_rendy/src/sprite/mod.rs#Sprites
    Sprites
*/
#![enable(implicit_some)]
Grid((
    texture_width: 968,
    texture_height: 526,
    columns: 56,
    rows: 30,
    cell_size: (17, 17),
))