(
    texture_width: 690,
    texture_height: 230,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 58,
            height: 58,
        ),
        (
            x: 58,
            y: 0,
            width: 58,
            height: 58,
        ),
        (
            x: 58,
            y: 0,
            width: 58,
            height: 58,
        )
    ]
)